<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqCodeGenTests.Properties.Settings.testConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Work\WXML\Databases\test.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>